body{
    background: #444444;
    color: #eee;
    padding: 0;
    margin: 0;
}


#txt{
    width:98%;
}

#main{
    width: 100%;
    height:10vh;
}

#txt-area{
    display: inline-block;
    width:75%;
    height: 80vh;
    padding: 0;
    background: #101010;
    vertical-align: top;
    padding: 1%;
    list-style: none;
}

#txt-area li{
    float: left;
    clear: both;
    padding:5px;
    background:steelblue;
    margin-bottom: 14px;
    border-radius: 50% ;
}

#onlines{
    display: inline-block;
    width: 22%;
    height: 80vh;
    padding: 0;
    background: #333;
    list-style: none;
}

#onlines li{
  padding: 2px;
}



#onlines a, #onlines a:visited{
    color: #aaa;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 4px;
    display: block;
    background: darkslategrey;
    text-decoration: none;
}